<div id="board" class="box-content mt-3 d-none">
  <nav class="navbar navbar-expand-lg justify-content-center navbar-light bg-white">
    <span class="navbar-brand mb-0 h1">30</span>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav mx-auto">
        <li class="nav-item disabled"><a class="nav-link" href="#">__</a></li>
        <li class="nav-item disabled"><a class="nav-link" href="#">__</a></li>
        <li class="nav-item disabled"><a class="nav-link" href="#">__</a></li>
        <li class="nav-item disabled"><a class="nav-link" href="#">__</a></li>
      </ul>
    </div>
  </nav>
  <div class="row mt-2">
    <div class="col-sm-3 pr-0">
      <h5>Players</h5>
      <div class="demo-content p-0">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Cras justo odio <span class="badge badge-success badge-pill">14</span>
          </li>
          <li class="list-group-item active d-flex justify-content-between align-items-center">
            Dapibus <span class="badge badge-success badge-pill">8</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6 mb-1">
      <h5>Drawing Board</h5>
      <div id="target" class="drawpad-dashed"></div>
    </div>
    <div class="col-sm-3 pl-0">
      <h5>Messages</h5>
      <div class="page-content page-container" id="page-content">
        <div class="row container d-flex justify-content-center ml-0 p-0">
            <div class="card card-bordered">
                <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:350px !important;">
                    <div class="media media-chat">
                        <div class="media-body">
                            <p>Hi</p>
                            <p>How are you ...???</p>
                            <p>What are you doing tomorrow?<br> Can we come up a bar?</p>
                            <p class="meta"><time datetime="2018">23:58</time></p>
                        </div>
                    </div>
                    <div class="media media-chat media-chat-reverse">
                        <div class="media-body">
                            <p>Hiii, I'm good.</p>
                            <p>How are you doing?</p>
                            <p>Long time no see! Tomorrow office. will be free on sunday.</p>
                            <p class="meta"><time datetime="2018">00:06</time></p>
                        </div>
                    </div>
                    <div class="media media-chat">
                        <div class="media-body">
                            <p>Okay</p>
                            <p>We will go on sunday? </p>
                            <p class="meta"><time datetime="2018">00:07</time></p>
                        </div>
                    </div>
                    <div class="media media-chat media-chat-reverse">
                        <div class="media-body">
                            <p>That's awesome!</p>
                            <p>I will meet you Sandon Square sharp at 10 AM</p>
                            <p>Is that okay?</p>
                            <p class="meta"><time datetime="2018">00:09</time></p>
                        </div>
                    </div>
                    <div class="media media-chat">
                        <div class="media-body">
                            <p>Okay i will meet you on Sandon Square </p>
                            <p class="meta"><time datetime="2018">00:10</time></p>
                        </div>
                    </div>
                    <div class="media media-chat media-chat-reverse">
                        <div class="media-body">
                            <p>Do you have pictures of Matley Marriage?</p>
                            <p class="meta"><time datetime="2018">00:10</time></p>
                        </div>
                    </div>
                    <div class="media media-chat">
                        <div class="media-body">
                            <p>Sorry I don't have. i changed my phone.</p>
                            <p class="meta"><time datetime="2018">00:12</time></p>
                        </div>
                    </div>
                    <div class="media media-chat media-chat-reverse">
                        <div class="media-body">
                            <p>Okay then see you on sunday!!</p>
                            <p class="meta"><time datetime="2018">00:12</time></p>
                        </div>
                    </div>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                    </div>
                </div>
                <div class="publisher bt-1 border-light">
                  <input class="publisher-input" type="text" placeholder="Type any word to guess...">
                  <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
