<div id="board" class="box-content mt-3 d-none">
  <div class="row mt-2">
    <div class="col-md-12">
      <ul class="list-group mx-auto">
        <li class="list-group-item disabled puzzle-text">
          <a class="d-inline m-1" href="#">__</a>
          <a class="d-inline m-1" href="#">__</a>
          <a class="d-inline m-1" href="#">__</a>
          <a class="d-inline m-1" href="#">__</a>
          <a class="d-inline m-1" href="#">__</a>
          <a class="d-inline m-1" href="#">__</a>
        </li>
        <li class="list-group-item puzzle-container d-none">
          <div class="input-group mx-auto col-sm-12 col-md-6 px-0">
            <input class="form-control form-control puzzle-word" type="text" placeholder="Please enter your word here...">
            <div class="input-group-append">
              <button class="btn btn-success set-puzzle-word" type="button"><i class="fa fa-save" aria-hidden="true"></i></button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3 p-2">
      <h5>Players</h5>
      <div class="demo-content p-0 mh-0"> <!-- d-none d-md-block -->
        <ul class="list-group board-players">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <!-- <div class="profileImage">
              <img class="img-responsive img-circle" width="100%" src="https://avatars.githubusercontent.com/u/8006173" alt="User profile picture">
            </div> -->
            Cras justo odio <span class="badge badge-success badge-pill">14</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 mb-1">
      <div class="row">
        <div class="col-sm-12">
          <button class="float-left btn drawpad-timer btn-success rounded-circle btn-sm mr-2 mb-2" data-value="0">0</button>
          <h5 class="d-inline">Drawing Board</h5>
          <button class="float-right btn btn-danger drawpad-reset btn-sm mr-2 mb-2"><i class="fa fa-sync-alt" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="target" class="drawpad-dashed"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3 pl-0">
      <div class="row">
        <div class="col-sm-12">
          <h5>Messages</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="page-content page-container" id="page-content">
            <div class="row container d-flex justify-content-center ml-0 p-0">
              <div class="card card-bordered ml-3 ml-md-0 w-100">
                <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:350px !important;">
                    <!-- <div class="media media-chat media-chat-reverse">
                        <div class="media-body">
                            <p>Hiii, I'm good.</p>
                            <p class="meta"><span class="badge badge-success badge-pill">Manoj Joined!!!</span></p>
                        </div>
                    </div> -->
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                    </div>
                </div>
                <div class="publisher bt-1 border-light">
                  <input class="publisher-input" type="text" placeholder="Type any word to guess...">
                  <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
