<div id="lobby" class="box-content mt-3 d-none">
  <div class="row">
    <div class="col-sm-6">
      <h5>Settings</h5>
      <div class="demo-content">
        <form class="row g-3">
          <div class="col-md-6 mt-2">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="roundDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rounds
              </button>
              <div class="dropdown-menu" aria-labelledby="roundDropDown">
                <a class="dropdown-item" href="#">1</a>
                <a class="dropdown-item" href="#">2</a>
                <a class="dropdown-item" href="#">3</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 mt-2">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle btn-block" type="button" id="timerDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drawing Time
              </button>
              <div class="dropdown-menu" aria-labelledby="timerDropDown">
                <a class="dropdown-item" href="#">30</a>
                <a class="dropdown-item" href="#">60</a>
                <a class="dropdown-item" href="#">90</a>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-4">
            <div class="form-group">
              <button type="submit" class="btn btn-info btn-block">Let's Start!!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <h5>Players</h5>
      <div class="demo-content bg-alt">
        <div class="profileImage">CM</div>
        <div class="profileImage">CM</div>
        <div class="profileImage">CM</div>
      </div>
    </div>
    <div class="col-sm-12 p-4">
      <form>
        <div class="form-group">
          <label for="uniqueGameCode">Share With Your Friends!!</label>
          <input type="text" value="" readonly class="form-control text-center" id="uniqueGameCode" aria-describedby="emailHelp" />
        </div>
      </form>
    </div>
  </div>
</div>
