<div id="login" class="box-content mt-3 w-100 mx-auto" style="max-width: 440px;">
  <div class="login-form">
    <form action="#" method="post">
        <div class="form-group">
            <input type="text" class="form-control username" placeholder="Enter your name" required="required">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-block join-group">Lets Start!!!</button>
            <button type="button" class="btn btn-info btn-block create-group">Create Private Room</button>
        </div>
    </form>
    <div class="card">
      <div class="card-header text-center bg-secondary">Game Instructions</div>
      <div class="card-body">
        <p class="card-text">
          When you will have your turn, you have to enter the word and submit it,
          and then try to visualize the word in drawing board.
          Other person will try to guess from the drawn image and enter guess in chat box to score points.
          be quick, the earlier you guess a word the more points you get!
        </p>
      </div>
    </div>
  </div>
</div>
