<!-- Modal -->
<div class="modal fade" id="winnerModal" tabindex="-1" role="dialog" aria-labelledby="winnerModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="winnerModalTitle">Winners</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row winners">
          <div class="col-md-4">
            <div class="profileImage">
              <img class="img-responsive img-circle" width="100%" src="https://avatars.githubusercontent.com/u/8006173" alt="User profile picture">
              <p class="text-center">#1 Manoj</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="profileImage">
              <img class="img-responsive img-circle" width="100%" src="https://avatars.githubusercontent.com/u/8006173" alt="User profile picture">
              <p class="text-center">#2 Harsh</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="profileImage">
              <img class="img-responsive img-circle" width="100%" src="https://avatars.githubusercontent.com/u/8006173" alt="User profile picture">
              <p class="text-center">#3 Rahul</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
